<ul class="admin-posts">
    <% if (Array.isArray(data) && data.length > 0) { %>
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>"><%= post.title %></a>
                <div class="admin-post-controls">
                    <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>
                    <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn">Delete</button>
                    </form>                    
                </div>
            </li>
        <% }); %>
    <% } else { %>
        <li>No posts available</li>
    <% } %>
</ul>
